<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Idea 3" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/concepts">Core Concepts</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-9">.9</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-11">.11</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-12">.12</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-13">.13</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-14">.14</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-15">.15</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-16">.16</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-17">.17</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-18">.18</a></td>
    </tr>
</table>