<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Big Idea 3" alt=""></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/fundamentals">Fundamentals</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-1">.1</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-2">.2</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-3">.3</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-4">.4</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-5">.5</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-6">.6</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-7">.7</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-8">.8</a></td>
        <td><a href="{{site.baseurl}}/csp/big-idea/3-10">.10</a></td>
    </tr>
</table>