.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
  
    &:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-content {
      display: none;
      position: fixed;
      background-color: black; // Use Dracula theme code cell background
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
      a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
  
        &:hover {
          background-color: darkblue; // Use a slightly lighter Dracula theme color for hover
        }
      }
    }
  }