// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks
// Good job trying to copy the hacks



// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55
// If you copy these settings the exact same way, 0.55

@keyframes rainbow {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
  }
  
.rainbow {
    width: 100px;
    height: 100px;
    animation: rainbow 5s linear infinite;
    margin: auto;
}

@keyframes spinMove {
    0% {
      transform: rotate(0deg) translateX(0);
    }
    10% {
      transform: rotate(36deg) translateX(-200px);
    }
    20% {
      transform: rotate(72deg) translateX(200px);
    }
    30% {
      transform: rotate(108deg) translateX(400px);
    }
    40% {
      transform: rotate(144deg) translateX(200px);
    }
    50% {
      transform: rotate(180deg) translateX(0);
    }
    60% {
      transform: rotate(216deg) translateX(-200px);
    }
    70% {
      transform: rotate(252deg) translateX(200px);
    }
    80% {
      transform: rotate(288deg) translateX(400px);
    }
    90% {
      transform: rotate(324deg) translateX(200px);
    }
    100% {
      transform: rotate(360deg) translateX(0);
    }
}
  
.spinMove {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: blue;
    animation: spinMove 10s linear infinite;
}
