#MainNavbar
{
    width:100%;
    height:64px;
    background-color: #353543;
    position:fixed;
    left:0;
    top:0;
    display:flex;
    align-items: center;
    padding-left: 20px;
    z-index: 5;
}

body
{
    padding-top: 64px;
    background-color: #5f6074;
    font-family: "Noto Sans JP", sans-serif;
}

#NavIcon
{
    height:50%;
    border-radius: 50%;
    transition: all .5s;
}

#HomeWrapper
{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#HomeWrapper:hover #NavIcon
{
    box-shadow:
    0 0 6px 3px #fff, 
    0 0 10px 6px rgb(142, 197, 253), 
    0 0 14px 9px rgb(226, 174, 233); 
    transform: rotate(720deg);
}

#NavHomeLink
{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color:white;
    padding-left:6px;
}

#JonathanNav
{
    background: linear-gradient(to right, rgb(255, 255, 255) 20%, #adadad 30%, #a7a7a7 70%, rgb(255, 255, 255) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 20s ease-in-out infinite;
}

#LiuNav
{
    background: linear-gradient(to right, #ffbc18 20%, #fabe28 30%, #fcd678 70%, #ffbc18 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 20s ease-in-out infinite;
    padding-right: 80px;
}

.navLink
{
    padding-left: 50px;
    text-decoration: none;
    color:white;
}

#navLinkWrapper
{
    right:24px;
    position:absolute;
}

.copyCodeButton
{
    background-color: transparent;
    color:rgb(196, 196, 196);
    border:none;
    cursor: pointer;
    user-select: none;
    transition: all .25s;
    position:relative;
    top:0;
    left:0;
}

.copyCodeButton:hover
{
    filter:brightness(200%);
}

#redMotButton
{
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    cursor: pointer;
}