<table>
    <tr>
        <td><a href="{{site.baseurl}}/teamteach/array/example-questions">Example Questions</a></td>
        <td><a href="{{site.baseurl}}/teamteach/array/strategies">Strategies</a></td>
        <td><a href="{{site.baseurl}}/teamteach/array/homework">Homework</a></td>
    </tr>
</table>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        var link = document.querySelector("link[rel~='icon']");
        link.href = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRixpyaDvkSYCZM_dz2qaeg9jIcZYRvU3qK8g&s';
        document.getElementById("NavIcon").src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRixpyaDvkSYCZM_dz2qaeg9jIcZYRvU3qK8g&s"
    });
</script>