<table>
    <tr>
        <td><a href="{{site.baseurl}}/csa/frqs/p3/2darrays2/refresher">2D Arrays Refresher</a></td>
        <td><a href="{{site.baseurl}}/csa/frqs/p3/2darrays2/rubric">Rubric Analysis</a></td>
        <td><a href="{{site.baseurl}}/csa/frqs/p3/2darrays2/sample1">2D Arrays Sample 1</a></td>
        <td><a href="{{site.baseurl}}/csa/frqs/p3/2darrays2/sample2">2D Arrays Sample 2</a></td>
        <td><a href="{{site.baseurl}}/csa/frqs/p3/2darrays2/homework">Homework</a></td>
    </tr>
</table>