<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/frontend/basics/playground">Playground</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/html">HTML</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/datatypes">Data Types</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/dom">DOM</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/javascript">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/input">Input</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/output">Output</a></td>
        <td><a href="{{site.baseurl}}/frontend/basics/js-debug">Debugging</a></td>
    </tr>
</table>