<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Full Stack: Java Edition" alt=""></td>
        <td><a href="{{site.baseurl}}/fullstack/java/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/fullstack/java/design">Design</a></td>
        <td><a href="{{site.baseurl}}/fullstack/java/backend">Backend</a></td>
        <td><a href="{{site.baseurl}}/fullstack/java/frontend">Frontend</a></td>
        <td><a href="{{site.baseurl}}/fullstack/java/example">Example</a></td>
    </tr>
</table>