<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="JS Project" alt=""></td> 
        <td><a href="{{site.baseurl}}/javascript/project/play">Play</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/binary-calculator">Binary</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/game-of-life">Game-of-Life</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/music-api">Music</a></td>
        <td><a href="{{site.baseurl}}/javascript/project/snake">Snake</a></td>
    </tr>
</table>