<nav id="MainNavbar">
<div id="HomeWrapper">
<img src="{{site.baseurl}}/images/me.jpg" id="NavIcon">
<a id="NavHomeLink" href="{{site.baseurl}}/index.html"> <span id="JonathanNav">Jonathan</span> <span id="LiuNav">Liu</span></a>
</div>
<div id="navLinkWrapper">
<a class="navLink" href="{{site.baseurl}}/csa/">CSA Progress</a>
<a class="navLink" href="{{site.baseurl}}/blogs/">Blogs</a>
<a class="navLink" href="{{site.baseurl}}/search/">Search</a>
<a class="navLink" href="{{site.baseurl}}/about/">About</a>
<a class="navLink" href="https://github.com/spooketti/studentCSA">View On Github</a>
<button id="redMotButton" onclick="toggleMot()">idk</button>
</div>
</nav>
