<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 3" alt=""></td>
        <td><a href="{{site.baseurl}}/unit3lesson#boolean-expressions">Boolean Expressions</a></td>
        <td><a href="{{site.baseurl}}/unit3lesson#if-statements-and-control-flow">If Statements and Control Flow</a></td>
        <td><a href="{{site.baseurl}}/unit3lesson#if-else-statements">If-Else Statements</a></td>
        <td><a href="{{site.baseurl}}/unit3lessonexamples">Code Example</a></td>
        <td><a href="{{site.baseurl}}/unit3lesson#hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/quiz/units/quiz3">Quiz</a></td>
    </tr>
</table>