<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 2" alt=""></td>
        <td><a href="{{site.baseurl}}/unit2lesson#instances-of-classes">Instances of Classes</a></td>
        <td><a href="{{site.baseurl}}/unit2lesson#initializing-objects">Initializing Objects</a></td>
        <td><a href="{{site.baseurl}}/unit2lesson#calling-a-non-void-method">Calling a Non-Void Method</a></td>
        <td><a href="{{site.baseurl}}/unit2lessonexamples">Code Example</a></td>
        <td><a href="{{site.baseurl}}/unit2lesson#hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/quiz/units/quiz2">Quiz</a></td>
    </tr>
</table>