<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 1" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/unit1/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/csa/unit1/primitives">Primitive Types</a></td>
        <td><a href="{{site.baseurl}}/csa/unit1/reference">Reference Types</a></td>
        <td><a href="{{site.baseurl}}/csa/unit1/stack_heap">Stack and Heap</a></td>
        <td><a href="{{site.baseurl}}/unit1lessonexamples">Code Example</a></td>
        <td><a href="{{site.baseurl}}/csa/units/quiz1">Quiz</a></td>
    </tr>
</table>