<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 4" alt=""></td>
        <td><a href="{{site.baseurl}}/unit4lesson#while-loops">While Loops</a></td>
        <td><a href="{{site.baseurl}}/unit4lesson#for-loops">For Loops</a></td>
        <td><a href="{{site.baseurl}}/unit4lesson#nested-iteration">Nested Iteration</a></td>
        <td><a href="{{site.baseurl}}/unit4lessonexamples">Code Example</a></td>
        <td><a href="{{site.baseurl}}/unit4lesson#hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/quiz/units/quiz4">Quiz</a></td>
    </tr>
</table>